body {
  background:#eee;
  font-size:14px;
}

h1 {
  font-family: "DejaVu Sans",Verdana,Geneva,sans-serif !important;
  font-size: 48px;
  font-weight: bold;
}

#create-talk {
  margin:30px auto 0;
  width: 90%;
}

